@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 93%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
h1{
  display: inline-block;
}

header{
  box-sizing: border-box;
  border-bottom: 1.5px solid #B7B7B7;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* welcome section start */

.welcome{
  padding-top: 45px;
  position: relative;
  border-bottom: 1.5px solid #B7B7B7;

}

h2{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 33px;
  color: #6069D0;
  margin-bottom: 8px;
}

h2+span{
  font-weight: lighter;
  font-size: 24px;
  color: #6069D0;
  text-transform: capitalize;
}

.welcome p:first-of-type{
  font-weight: lighter;
  font-size: 23.8px;
  color: #6069D0;
  margin-top: 28px;
  width: 61%;
  line-height: 31px;
  text-transform: capitalize;
}

.welcome p:last-of-type{
  font-weight: lighter;
  font-size: 20px;
  color: #717171;
  margin-top: 18px;
  width: 58%;
  line-height: 28px;
  margin-bottom: 31px;
  letter-spacing: 0.35px;
}

.welcome p:last-of-type a{
  color: #44C79D;
}

.welcome .wrapper>a{
  color: white;
  background-color: #44C79D;
  box-sizing: border-box;
  height: 65px;
  padding: 0 19.5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  margin-right: 13px;
  margin-left: 2px;
  margin-bottom: 50px;
}

.referrals{
  color: #FEFEFE;
  background-color: #6069D0;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 31.8%;
  height: 100%;
  text-align: center;
  padding-top: 6.7%;
  padding-left: 80px;
  padding-right: 80px;
}

h3{
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

.referrals h3 span{
  font-size: 35px;
  font-weight: 600;
}

.referrals>span{
  display: block;
}

.referrals span:nth-child(2){
  font-size: 31px;
  color: rgba(255,255,255,0.4);
  margin-top: 10px;
}

.referrals span:nth-child(3){
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.referrals h3:nth-child(4){
  width: 70%;;
  margin: 18px auto 0;
  line-height: 38px;
}

.referrals span:nth-child(5){
  font-size: 31px;
  color: rgba(255,255,255,0.4);
  margin-top: 5px;
  margin-bottom: 92px;
}

.referrals span:nth-child(6) a{
  font-size: 17px;
  color: #C6C6C6;
  margin: 0 1.5px;
}

.referrals span:nth-child(6) a:nth-child(3){
  color: #FFFFFF;
}

.referrals>a{
  position: absolute;
  color: #FFFFFF;
  font-size: 50px;
  top: 39%;
}

.referrals .fa-chevron-right{
  right: 4.5%;
}

.referrals .fa-chevron-left{
  left: 4.5%;
}

/* welcome section styling end */

/* insiders section styling start */

.insiders{
  padding-top: 45px;
  border-bottom: 1.5px solid #B7B7B7;
  padding-bottom: 48px;
}

.insiders h2{
  margin-bottom: 40px;
}

.wrapper-two{
  max-width: 100%;
  width: 89%; 
  margin: 0 auto;
}

.insider figure{

  width: 200px;
  height: 198px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #6069D0;
}

.insider-leaders{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

h4{
  text-transform: uppercase;
  font-size: 24px;
  color: #44C79D;
  font-weight: bolder;
  line-height: 32px;
  margin-bottom: 6px;
}

.insider span:nth-child(4){
  display: block;
  color: #6069D0;
  font-size: 18px;
  margin-bottom: 11px;
}

.insider span:nth-child(4) a{
  padding: 2.5px;
}

.insider-leaders li:nth-child(1){
 width: 18%;
}

.insider-leaders li:nth-child(3){
  width: 18.5%;
}

.insider-leaders li:nth-child(2){
  width: 25%;
}

.insider-leaders figcaption{
  font-weight: 600;
  font-size: 16px;
  color: #717171;
  line-height: 24px;
  margin-bottom: 11px;
}

.insider-leaders li:nth-child(2) figcaption{
  width: 80%;
  margin: 0 auto 11px;
  text-transform: capitalize;
}

.insider-leaders li:nth-child(2) .insider span:nth-child(5){
  display: inline-block;
  width: 70%;
}

.insider span:last-of-type{

  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  font-size: 14.5px;
  line-height: 20px;
}

/* insiders section styling end */

/* strategy section styling start */

.strategy{
  padding-top: 45px;
  border-bottom: 1.5px solid #B7B7B7;
  padding-bottom: 39.5px;
}

.strategy h2{
  margin-bottom: 38.5px;
}

.works{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.works li:nth-child(1){
  width: 29%;
}

.works li:nth-child(2){
  width: 25.5%;
}

.works li:nth-child(3){
  width: 25.5%;
}

.works li{
  width: 30%;
}

.works li a{
  color: white;
  background-color: #6069D0;
  font-size: 46px;
  padding: 24px;
  border-radius: 50%;
  clip-path: circle(47%);
  margin-bottom: 25px;
}

h5{
  font-weight: 600;
  font-size: 23px;
  color: #717171;
  line-height: 24px;
  margin-bottom: 19px;

}

.works li p{
  font-weight: lighter;
  font-size: 20px;
  color: #717171;
  line-height: 29.8px;
  letter-spacing: 0.25px;

}

.works li:nth-child(2) p{
  padding: 0 5px;
}

/* strategy section styling end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer{
  background-color: #6069D0;
  padding-top: 44px;
  padding-bottom: 48px;
  
}

footer .wrapper{
  position: relative;

}

footer h6{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 33px;
  color: #FFFFFF;
  margin-bottom: 37px;
}

footer p{
  font-weight: lighter;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 26px;
  text-align: center;
  line-height: 28px;

}

footer .wrapper-two p:first-of-type{
  margin-bottom: 1px;
}

footer .wrapper-two p:last-of-type{
  margin-bottom: 30px;
}

footer .wrapper-two span{
  display: block;
  text-align: center;
}

footer .wrapper-two span a{
  font-size: 23px;
  color: #C6C6C6;
  margin: 0 2.7px;
}

footer .wrapper-two span a:nth-child(4){
  color: #FFFFFF;
}


footer .wrapper>a{

  position: absolute;
  color: #FFFFFF;
  font-size: 50px;
  top: 45%;
}

footer .fa-chevron-right{
  right: 0;
}

footer .fa-chevron-left{
  left: 0;
}




 /*=================================
  footer styling ends here
=================================*/ 