@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 93%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
h1{
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px;
  font-weight: bolder;
  font-size: 22px;
  padding-left: 8px;
  color:  #6069D0;
}

header .fa-stop:before{
  font-size: 60px;
  color:  #6069D0;
}

header{
  box-sizing: border-box;
  height: 102px;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  border-bottom: 1.5px solid #B7B7B7;
  display: flex;
  align-items: center;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* welcome section start */

.welcome{
  padding-top: 45px;
  position: relative;
  border-bottom: 1.5px solid #B7B7B7;

}
h2{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 33px;
  color: #6069D0;
  margin-bottom: 8px;
}

h2+span{
  font-weight: lighter;
  font-size: 24px;
  color: #6069D0;
  text-transform: capitalize;
}

.welcome p:first-of-type{
  font-weight: lighter;
  font-size: 23px;
  color: #6069D0;
  margin-top: 30px;
  width: 63%;
  line-height: 30px;
  text-transform: capitalize;
}

.welcome p:last-of-type{
  font-weight: lighter;
  font-size: 20px;
  color: #717171;
  margin-top: 18px;
  width: 50%;
  line-height: 28px;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
}

.welcome p:last-of-type a{
  color: #44C79D;
}

.welcome .wrapper>a{
  color: white;
  background-color: #44C79D;
  box-sizing: border-box;
  height: 65px;
  padding: 0 19.5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  margin-right: 13px;
  margin-left: 2px;
  margin-bottom: 5.5%;
}

.referrals{
  color: #FEFEFE;
  background-color: #6069D0;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 31.8%;
  height: 100%;
  text-align: center;
  padding-top: 6.7%;
  padding-left: 85px;
  padding-right: 85px;
}

h3{
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

.referrals h3 span{
  font-size: 35px;
  font-weight: 600;
}

.referrals>span{
  display: block;
}

.referrals span:nth-child(2){
  font-size: 31px;
  color: rgba(255,255,255,0.4);
  margin-top: 10px;
}

.referrals span:nth-child(3){
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.referrals h3:nth-child(4){
  width: 70%;;
  margin: 18px auto 0;
  line-height: 38px;
}

.referrals span:nth-child(5){
  font-size: 31px;
  color: rgba(255,255,255,0.4);
  margin-top: 5px;
}

.referrals>a{
  display: none;
}
.insiders{
  display: none;
}
.strategy{
  display: none;
}
.footer .wrapper{
  display: none;
}
/* welcome section end */







/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 
